*{
    padding:0px;
    margin:0px;
}
.clearfix{
    overflow: auto;
}
a{
    text-decoration:none;
    color:#2F4F4F;
}
body{
    width:99%;
    margin:auto;
    overflow-x: hidden;
}
.info{
    background:#f2f2f2;
    width:100%;
    margin:10px 0px;
    padding:25px 36px;
    box-sizing: border-box;
    position: relative;
}

.info a{
    display:block;
    float:left;
    width:400px;
    height:200px;
    padding:85px 0px;
    margin:10px;
    border-radius: 5px;
    color:#f2f2f2;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Overpass', sans-serif;
    text-align:center;
    box-sizing: border-box;
}
.info a:nth-child(1){
    background:url("../images/ongoing.jpg");
}
.info a:nth-child(2){
    background:url("../images/finished.jpg");
}
.info a:nth-child(3){
    background:url("../images/progress.jpg");
}