<<<<<<< HEAD
.tag{
    background:#f2f2f2;
    overflow:auto;
    padding:5px;
    box-sizing: border-box;
}
.tag h2{
    color:#2F4F4F;
    background:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding:10px;
    box-sizing: border-box;
    border-radius: 5px;
    float:left;
}
.container{
    position: relative;
    padding:25px;
    border:2px solid #2F4F4F;

}
.formarea{
    position:relative;
    left:50%;
    transform: translateX(-50%);
    /* border:3px solid black; */
    width:750px;
    padding:10px;
    box-sizing: border-box;
}
.formarea label{
    color:#2F4F4F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    display:inline-block;
    width:150px;
}
input[type="text"],input[type="date"]{
    border:2px solid #2F4F4F;
    width:200px;
    height:30px;
    margin:5px;
    margin-top: 20px;
    padding:5px;
    box-sizing: border-box;
}
input[type="file"]{
    border:none;
    margin:5px;
    margin-top: 20px;
    height:30px;
}
input[type="file"]:focus{
    outline:none;
}
input[type="radio"]{
    margin:5px;
    margin-top: 20px;
}
input[type="reset"],input[type="submit"]{
    background:#2F4F4F;
    color:white;
    padding:10px;
    font-weight: bold;
    border:none;
    border-radius: 3px;
    width:100px;
    margin:20px;
    display:block;
    float:right;

}

input[type="reset"],input[type="submit"]:focus{
    outline: none;
}
=======
.tag{
    background:#f2f2f2;
    overflow:auto;
    padding:5px;
    box-sizing: border-box;
}
.tag h2{
    color:#2F4F4F;
    background:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding:10px;
    box-sizing: border-box;
    border-radius: 5px;
    float:left;
}
.container{
    position: relative;
    padding:25px;
    border:2px solid #2F4F4F;

}
.formarea{
    position:relative;
    left:50%;
    transform: translateX(-50%);
    /* border:3px solid black; */
    width:750px;
    padding:10px;
    box-sizing: border-box;
}
.formarea label{
    color:#2F4F4F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    display:inline-block;
    width:150px;
}
input[type="text"],input[type="date"]{
    border:2px solid #2F4F4F;
    width:200px;
    height:30px;
    margin:5px;
    margin-top: 20px;
    padding:5px;
    box-sizing: border-box;
}
input[type="file"]{
    border:none;
    margin:5px;
    margin-top: 20px;
    height:30px;
}
input[type="radio"]{
    margin:5px;
    margin-top: 20px;
}
input[type="button"],input[type="submit"]{
    background:#2F4F4F;
    color:white;
    padding:10px;
    font-weight: bold;
    border:none;
    border-radius: 3px;
    width:100px;
    margin:20px;
    display:block;
    float:right;

}
>>>>>>> 9528237221da2a902802b7449dec95a5e2f2de80
