.container{
    display:flex;
    flex-direction: column;
    margin:2% 4%;
    align-items: left;
}
.button-container{
    display:flex;
    flex-direction: column;
    align-items: left;
}

.button{
    padding:0px 5px;
}


.button-container a{
    width: 30%;
    margin-bottom: 1.2rem;

}

.tag h2 {
    color: #2F4F4F;
    background: white;
    font-size: 20px;
    text-align: center;
    width: auto;
    font-weight: bold;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    float: left;
    margin-left: 15px;
}
.tag h3 {
    color: #2F4F4F;
    font-size: 18px;
    text-align: justify;
    width: auto;
    border-radius: 5px;
    float: left;
    margin-left: 15px;
}
.tag {
    background: #f2f2f2;
    overflow: auto;
    padding: 15px;
    box-sizing: border-box;
}

@media(max-width:660px){
    .button-container a{
        width: 100%;
        margin-bottom: 1.2rem;
    
    }
}

.update-cancel{
    display:flex;
    flex-direction: row;
    margin:2% 4%;
    align-items: left;
    justify-content: center;
}



/* .container :nth-of-type(1){
    flex:1.25;    
}
.container :nth-of-type(2){
    flex:2; 
} */
.loginBox{
    width:95%;
    border:3px solid #2F4F4F;
    padding:40px 10px;
    box-sizing: border-box;
    background:#f2f2f2;
    border-radius: 10px;
    
} 
.loginBox h3{
    height:50px;
    width:90%;
    padding:15px;
    box-sizing: border-box;
    background: #DC143C;
    color:white;
    font-size:15px;
    text-align: center;
    margin:auto;
    margin-bottom: 20px;
}  
.loginBox h2{
    font-size: 30px;
    font-weight: bold;
    font-family:'Overpass', sans-serif;
    text-align:center;
    border:3px solid #2F4F4F;
    border-radius:10px;
    padding:5px;
    margin:45px 20px;
    background:#2F4F4F;
    color:white;
}
label{
    width:200px;
    text-align: center;
    font-size:25px;
    font-weight:bold;
    font-family:'Overpass', sans-serif;
    color:#2F4F4F;
    display: inline-block;
}
input[type=text],input[type=password]{
    display:inline-block;
    background:none;
    border:2px solid #2F4F4F;
    border-radius:5px;
    padding:5px;
    width:80%;
    box-sizing: border-box;
    height:30px;
    font-size: 16px;
    font-family:'Overpass', sans-serif;
    margin-bottom: 30px;

}
input[type=submit]{
    width:auto;
    display: block;
    margin: 10px auto;
    padding:10px;
    background:#2F4F4F;
    border:2px solid #2F4F4F;
    border-radius: 5px;
    color:white;
    font-size: 20px;
    font-weight: bold;
}
input[type=submit]:hover{
    color:#2F4F4F;
    background:white;
    cursor: pointer;
    transition: 0.5s;
}


.page-footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 0.5rem;
}

.normText{
    color:#2F4F4F;
    font-size:15px;
    text-align: left;
}

.label-text{
    display: flex;
}

