/* moved to common.css */
/* .tag a{
    background:#f2f2f2;
    overflow:auto;
    padding:5px;
    box-sizing: border-box;
    margin: 20px;
}
.tag h2{
    color:#434647;
    background:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding:10px;
    box-sizing: border-box;
    border-radius: 5px;
    float:left;
    margin-left: 30px;
   
} */
.container{
    margin-top:5%;
    margin-left: 20%;
    margin-right:20%;
    margin-bottom:3%;
    width: 60%;
    min-width: 300px;
    position: relative;
    padding:10px;
    box-sizing: border-box;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: white ;
    /*border:2px solid #434647;*/
    display:block;
    
}
/*For the ID searching Area*/
.searchbox{
    background-color: #0e2433;
    opacity: 0.9 ;
    padding: 0px;
    /* max-width: 800px; */
    max-height: 300px;
}
.searchbox label{
    color:white;
    font-size: 15px;
    font-weight: normal;
    display:inline-block;
    /*margin: 5px;*/
}

.searcharea{
    display: block;
    width:450px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    padding:5px;
}
.searcharea input[type="text"]{
    margin: 15px;
}
.searcharea input[type="submit"]{
    margin:12px;
    font-size: 15px;
}

.formarea{
    position:relative;
    left:50%;
    transform: translateX(-50%);
    /* border:3px solid black; */
    width:450px;
    padding:10px;
    box-sizing: border-box;
    display:block;
}

.formarea label{
    color:#434647;
    font-size: 15px;
    font-weight: normal ;
    display:inline-block;
    width:150px;
}

input[type="text"],input[type="email"],input[type="password"]{
    border:1px solid #434647;
    width:200px;
    height:30px;
    margin:5px;
    border-radius: 4px;
    margin-top: 20px;
    padding:5px;
    box-sizing: border-box;
}
select{
        border:1px solid #434647;
        width:200px;
        height:30px;
        margin:5px;
        margin-top: 20px;
        padding:5px;
        box-sizing: border-box;
        border-radius: 4px;
}
input[type="file"]{
    border:none;
    margin:5px;
    margin-top: 20px;
    height:30px;
}
input[type="radio"]{
    margin:5px;
    margin-top: 20px;
}
input[type="button"],input[type="submit"]{
    background:#1c9c95;
    color:white;
    font-weight: normal;
    border:none;
    border-radius: 10px;
    float:right;
    width:100px;
    margin:05px;
    padding:10px;
    display:block;
   
}

