.container{
    position: relative;
    padding:25px;
    display:flex;
    align-items: center;
    justify-content: center;

}
.formarea{
    position:relative;
    width:900px;
    display:flex;
    justify-content:flex-start;
    padding:10px;
    box-sizing: border-box;
}
.formarea label{
    color:#434647;
    font-size: 18px;
    font-weight: bold;
    display:inline-block;
    width:200px;
}
input[type="text"],input[type="email"],input[type="password"]{
    border:2px solid #434647;
    width:300px;
    height:40px;
    margin:5px;
    margin-top: 20px;
    padding:5px;
    box-sizing: border-box;
    outline:#434647;
    font-size:17px;
}
select{
        border:2px solid #434647;
        width:300px;
        height:40px;
        margin:5px;
        margin-top: 20px;
        padding:5px;
        box-sizing: border-box;
        font-size: 17px;
        outline:#434647;
}
input[type="file"]{
    border:none;
    margin:5px;
    margin-top: 20px;
    height:30px;
}
input[type="radio"]{
    margin:5px;
    margin-top: 20px;
}
input[type="reset"],input[type="submit"]{
    background:#D2691E;
    color:white;
    padding:10px;
    font-weight: bold;
    border:none;
    font-size: 17px;
    border-radius: 10px;
    width:100px;
    margin:20px;
    display:block;
    float:right;

}
input[type="reset"],input[type="submit"]:focus{
    outline:none;
}
input[type="reset"]:hover,input[type="submit"]:hover{
    transform: scale(1,1.2);
}
