@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    padding:0px;
    margin:0px;
    font-family: 'Ubuntu', sans-serif;
}
a{
    text-decoration: none;
}
.clearfix{
    overflow: auto;
}

body{
    width:100%;
    height:100%;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #f2f2f2;
}

.container,.button-flex-container{
    min-height: calc(100vh - 133.33px - 58.33px - 61.98px - 133.99px);
    position: relative;
    clear:both;
}

.tag{
    background:white;
    overflow:auto;
    margin:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:2px;
    border-radius: 5px;
    float:left;

}
.tag h2{
    color:#0E2433    ;
    font-size: 20px;
    font-weight: bold;
    margin:10px;
    text-align: center;
}
input[type=submit],input[type=reset]{
    border:none;
}