#funds {
    align-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;
    width: 90%;
}

#funds td, #funds th{
    border: 1px solid #ddd;
    padding: 8px;
}

#funds tr:nth-child(){
    background-color: #f2f2f2;
}

#funds tr:hover{
    background-color: #ddd;
}

#funds th{
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: left;
    background-color: #2F4F4F;
    color: white;
}
.tag{
    background:#f2f2f2;
    overflow:auto;
    padding:10px;
    box-sizing: border-box;
}
.tag h2{
    color:#2F4F4F;
    background:white;
    font-size: 20px;
    font-weight: bold;
    padding:20px;
    box-sizing: border-box;
    border-radius: 5px;
    float:left;
}

.container{
    background-color: #f2f2f2;
    height: 600px;
}

input[type="button"],input[type="submit"],input[type="reset"]{
    background:#2F4F4F;
    color:white;
    padding:10px;
    font-weight: bold;
    border:none;
    border-radius: 3px;
    width:100px;
    margin:20px;
    display:block;
    float:right;
}

input[type="submit"]{
    margin-right: 70px;
}

input[type="button"]:hover,input[type="submit"]:hover,input[type="reset"]:hover{
    color:#2F4F4F;
    background:white;
}