body{
    background:white;
}
.container{
    display:flex;
    align-items: center;
    justify-content: center;
}
.error{
    color:black;
    font-weight: bold;
}
.error h1{
    text-align:center;
    font-size: 100px;
}
.error h2{
    text-align: center;
    font-size:40px;
}
.banner img{
    height: 480px;
}