/* for the footer*/
.footerbox{
    width:100% ;
    clear:both;
}
/*UpperFooterPart*/
.blue{
    background:#434647;
    padding:5px;
    display:flex;
    align-items: center;
    box-sizing: border-box;
}

.blue h2{
    font-size: 17px;
    font-weight: bold;
    padding:5px;
    color:white;   
}
.blue a{
    font-size: 16px;
    padding:5px;
    color:white;
}
.blue .flex-container {
    display: flex;
    height: 50px;
    margin: auto ;
  }
  .blue img{
      width:40px;
      height:50px;
      display:block;
      float:left;
      margin:2px 5px;
  }
  .blue .link_container{
      flex:1;
      display:flex;
      align-items: center;
  }
/* lower footer */
.black{
    background:black;
    padding:5px 15px;
    box-sizing: border-box;
    display:flex;
    align-items: center;
}
.black h2{
    color:white;
    flex:1;
    font-size: 14px;
    
}
.black h2 span{
    color:yellow;
    font-size: 15px;
}
@media screen and (max-width:850px){
    .blue h2{
        font-size: 14px;
    }
    .blue a{
        font-size: 13px;
    }
}
@media screen and (max-width:450px){

}
/********************************************/