*{
    padding:0px;
    margin:0px;
}
.clearfix{
    overflow: auto;
}
a{
    text-decoration:none;
    color:#434647;
}

.button-container{
    width:100%;
    padding:10px;
    background: white;
    box-sizing:border-box;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.button-container > a{
    display:flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:350px;
    height: 200px;
    margin:10px 30px;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: 20px;
    font-weight: bold;

}

.button-container a:hover{
    transform:scale(1,1.05);
}
.button-container a:nth-child(1){
    background-image:url("../images/ongoing.jpg");
}
.button-container a:nth-child(2){
    background-image:url("../images/finished.jpg");
}
.button-container a:nth-child(3){
    background-image:url("../images/progress.jpg");
}