*{
    padding:0px;
    margin:0px;
}
.clearfix{
    overflow: auto;
}
a{
    text-decoration:none;
    color:#2F4F4F;
}
body{
    width:99%;
    margin:auto;
    overflow-x: hidden;
}
.info{
    background:#f2f2f2;
    width:100%;
    margin:10px 0px;
    padding:25px 36px;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    justify-items: center;
}

.info a{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:2px 2.5px;
    width:400px;
    height:200px;
    color:white;
    font-weight: bold;
    
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info a:nth-child(1){
    flex:1;
    background:url("../images/ongoing.jpg");
}
.info a:nth-child(2){
    flex:1;
    background:url("../images/finished.jpg");
}
.info a:nth-child(3){
    flex:1;
    background:url("../images/progress.jpg");
}