/* for the header */
header{
    display:flex;
    width:100%;
    padding:5px;
    background:#f2f2f2;
    box-sizing: border-box;
    clear:both;
    align-items: center;
}
header .branding{
    flex:0.2;
    margin:10px 10px;
    box-sizing: border-box;
    text-align: center;
}
.logo{
    height:100px;
}
.districtTag{
    flex:2;
    font-family: 'Ubuntu';
}
.districtTag h2{
    font-size: 35px;
    font-weight: bold;
    color:#2F4F4F;
}
.districtTag h3{
    font-size: 25px;
    font-weight: bold;
    color:#2F4F4F;
}
.user{
    margin:10px;
    z-index: 1;
    
}
.user a{
    color:white;
    padding:5px;
    font-size: 35px;
    background:#2F4F4F;
    border-radius: 5px;
}
.user a:hover{
    color:white;
    background:#2F4F4F;
}

@media screen and (max-width:650px){
    header .branding{
        margin:10px;
    }
    .logo{
        width:80px;
        height:80px;
    }
    .districtTag h2{
        font-size:25px;
    }
    .districtTag h3{
        font-size:30px;
        font-size: 20px;
    }
}

.user h2{
    font-size: 30px;
    font-weight: bold;
    text-align:center;
    border:3px solid #2F4F4F;
    border-radius:10px;
    padding:5px;
    background:#2F4F4F;
    color:white;
}
.user .logout{
    color:red;
    font-weight:bold;
    background:none;
    font-size: 15px;
    display: inline-block;
}
.user .logout:hover{
    color:red;
    background:none;
    transform: scale(1,1.2);
}

/******************************************/

header .dropdown{
    float:right;
    margin:10px;
    width:200px;
    box-sizing: border-box;
}
header .greeting h3{
    float: right ;
    color: #2F4F4F;
    font-size:18px;
}
.dropdown .dropbtn,.dropdown .loginpage{
    float:right;
    display:block;
    cursor: pointer;
    color:white;
    background:#2F4F4F;
    padding:15px;
    font-size: 20px;
    border-radius: 5px;
    border:none;
}
.dropdown:hover .dropbtn{
    color:#2F4F4F;
    background:white;
}
.loginpage:hover{
    color:#2F4F4F;
    background:white; 
}
.droplist{
    display: none;
    position: relative;
    background-color: #2F4F4F;
    min-width:100%;
    z-index: 1;
}
.droplist a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size:20px;
}


footer h2{
    font-size: 15px;
}