/* for the header */
header{
    display:flex;
    width:100%;
    padding:5px;
    background:#f2f2f2;
    box-sizing: border-box;
    clear:both;
    align-items: center;
}
header .branding{
    flex:0.2;
    margin:20px 20px;
    box-sizing: border-box;
    text-align: center;
}
.logo{
    height:100px;
}
.districtTag{
    flex:2;
}
.districtTag h2{
    font-size: 35px;
    font-weight: bold;
    color:#2F4F4F;
}
.districtTag h3{
    font-size: 25px;
    font-weight: bold;
    color:#2F4F4F;
}
.user{
    margin:10px;
    z-index: 1;
    
}
.user a{
    color:#2F4F4F;
    padding:5px;
    font-size: 35px;
    background:white;
    border-radius: 5px;
}
.user a:hover{
    color:white;
    background:#2F4F4F;
}

@media screen and (max-width:650px){
    header .branding{
        margin:10px;
    }
    .logo{
        width:80px;
        height:80px;
    }
    .districtTag h2{
        font-size:25px;
    }
    .districtTag h3{
        font-size:30px;
        font-size: 20px;
    }
}

.user h2{
    font-size: 30px;
    font-weight: bold;
    text-align:center;
    border:3px solid #2F4F4F;
    border-radius:10px;
    padding:5px;
    background:#2F4F4F;
    color:white;
}
/******************************************/
/* for the footer*/
.footerbox{
    width:100% ;
    clear:both;
    position: relative;
    bottom: 0px;
}
/*UpperFooterPart*/
.blue{
    background: #2BACD2;
    padding:10px;
    display:flex;
    align-items: center;
    box-sizing: border-box;
    
}
.blue h2{
    font-size: 17px;
    font-weight: bold;
    padding:5px;
    color:white;   
}
.blue a{
    font-size: 16px;
    padding:5px;
    color:white;
}
.blue .flex-container {
    display: flex;
    background: #2BACD2;
    height: 50px;
    margin: auto ;
  }
  .blue img{
      width:50px;
      height:50px;
      display:block;
      float:left;
      margin:2px 5px;
  }
  .blue .link_container{
      flex:1;
      display:flex;
      align-items: center;
  }
/* lower footer */
.black{
    background:black;
    padding:10px 15px;
    box-sizing: border-box;
    display:flex;
    align-items: center;
}
.black h2{
    color:white;
    flex:1;
    font-size: 14px;
    
}
.black h2 span{
    color:yellow;
    font-size: 15px;
}
.black img{
    /* display:block;
    float:right; */
}
@media screen and (max-width:850px){
    .blue h2{
        font-size: 14px;
    }
    .blue a{
        font-size: 13px;
    }
    .black h2{
        
    }
    .black img{
       
    }
}
@media screen and (max-width:450px){

}
/********************************************/
header .dropdown{
    float:right;
    margin:10px;
    width:200px;
    box-sizing: border-box;
}

.dropdown .dropbtn,.dropdown .loginpage{
    float:right;
    display:block;
    cursor: pointer;
    color:white;
    background:#2F4F4F;
    padding:15px;
    font-size: 20px;
    border-radius: 5px;
    border:none;
}
.dropdown:hover .dropbtn{
    color:#2F4F4F;
    background:white;
}
.loginpage:hover{
    color:#2F4F4F;
    background:white; 
}
.droplist{
    display: none;
    position: relative;
    background-color: #2F4F4F;
    min-width:100%;
    z-index: 1;
}
.droplist a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size:20px;
}
/*for the navigation bar*/
.topnav{
    position:sticky;
    top:0px;
    background:rgba(47, 79, 79, 25);
    opacity: 0.9;
    padding:1px 20px;
    z-index: 1;
}


.topnav a{
    display:block;
    float:left;
    font-size:18px;
    color:white;
    font-weight:bold;
    padding:15px;
    margin:5px;
    background:none;
    border-radius: 5px;
    text-align:center;
    width:95px;

}
.topnav .active{
    background:white;
    color:#2F4F4F;
}
.topnav a:hover{
    background:white;
    color:#2F4F4F;
    transition: 0.5s;
}

.topnav .icon{
    color:white;
    display:none;
    background:#2F4F4F;
    padding:10px;
    margin:5px;
    clear: both;
    float:left;
    text-align: left;
}

@media screen and (max-width:825px){
    .topnav a{
        display:none;
    }
    .topnav .icon{
        display:block;
        width:auto;
    }
    .responsive .icon{
        float:none;
        text-align: center;
    }
    .responsive a{
        display:block;
        width:auto;
        text-align: center;
        float:none;
        z-index: 1;
    }
}

footer h2{
    font-size: 15px;
}