.container{
    display:flex;
    margin:2% 4%;
    align-items: center;
}

.container :nth-of-type(1){
    flex:1.25;    
}
.container :nth-of-type(2){
    flex:2;
}
.loginBox{
    width:400px;
    border:3px solid #2F4F4F;
    padding:40px 10px;
    box-sizing: border-box;
    background:#f2f2f2;
    border-radius: 10px;
    min-width: 350px;
    
} 
.loginBox h3{
    height:50px;
    width:90%;
    padding:15px;
    box-sizing: border-box;
    background: #DC143C;
    color:white;
    font-size:15px;
    text-align: center;
    margin:auto;
    margin-bottom: 20px;
}  
.loginBox h2{
    font-size: 25px;
    font-weight: bold;
    text-align:center;
    border:3px solid #2F4F4F;
    border-radius:10px;
    padding:5px;
    margin:45px 20px;
    background:#2F4F4F;
    color:white;
}
label{
    display:inline-block;
    width:50px;
    text-align: center;
    font-size:25px;
    font-weight:bold;
    color:#2F4F4F;
}
input:focus{
    outline:none;
}
input[type=text],input[type=password]{
    display:inline-block;
    background:none;
    border:2px solid #2F4F4F;
    border-radius:5px;
    padding:5px;
    width:80%;
    box-sizing: border-box;
    height:50px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}
input[type=submit]{
    width:auto;
    display: block;
    margin: 10px auto;
    padding:7px 20px;
    background:#2F4F4F;
    border:2px solid #2F4F4F;
    border-radius: 5px;
    color:white;
    font-size: 18px;
    font-weight: bold;
}
input[type=submit]:hover{
    cursor: pointer;
    transform:scale(1,1.2);
}

.forgotLink{
    margin:10px 10px;
}

.forgotLink a{
    color:#2F4F4F;
    font-size: 16px;
}

.mask{
    width:100%;
    height: 100%;
    border-radius: 5px;
}

@media screen and (max-width:1024px){
    .mask{
        display:none;
        }
    .loginBox{
        max-width:350px;
        margin:auto;
    }
    .container{
        display:relative;
    }
}