.container{
    display:flex;
    align-items: center;
    padding:15px;
    justify-content: center;
}
.loginBox{
    width:400px;
    padding:40px 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background:#ffffff;
    min-width: 350px;
    
} 
.loginBox h3{
    height:50px;
    width:90%;
    padding:15px;
    box-sizing: border-box;
    background: #DC143C;
    color:white;
    font-size:15px;
    text-align: center;
    margin:auto;
    margin-bottom: 20px;
}  
.loginBox h2{
    font-size: 25px;
    font-weight: bold;
    text-align:center;
    /* border:3px solid #434647; */
    color:#434647;
    margin-bottom:20px;
}
.loginBox .icon{
    display:flex;
    justify-content: center;
    margin-bottom:5px;
}
.icon img{
    /*width:100px;*/
    height:100px ; 
}
label{
    display:inline-block;
    width:50px;
    text-align: center;
    font-size:25px;
    font-weight:bold;
    color:#434647;
}
input:focus{
    outline:none;
}
input[type=text],input[type=password]{
    display:inline-block;
    background:none;
    border:1px solid #434647;
    border-radius:5px;
    padding:5px;
    width:80%;
    box-sizing: border-box;
    height:50px;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 30px;
}
input[type=submit]{
    display: block;
    margin: auto;
    width:80%;
    padding:10px 20px;
    background: #1c9c95;
    border-radius: 5px;
    color:white;
    font-size: 18px;
    outline:none;
    font-weight: bold;
}
input[type=submit]:hover{
    cursor: pointer;
    transform:scale(1,1.2);
}

.forgotLink{
    margin:10px 10px;
    
}

.forgotLink a{
    color: #8b0000  ;
    text-decoration: underline;
    font-size: 16px;
    
    
}

.mask{
    width:100%;
    height: 100%;
    border-radius: 5px;
}

@media screen and (max-width:1024px){
    .mask{
        display:none;
        }
    .loginBox{
        max-width:350px;
        margin:auto;
    }
    .container{
        display:relative;
    }
}