.container{
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:25px;

}
.formarea{
    /* position:relative; */
    padding:10px;
    box-sizing: border-box;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.formarea label{
    color:#434647;
    font-size: 18px;
    font-weight: bold;
    display:inline-block;
    width:200px;
}
input[type="text"],input[type="date"],select{
    border:2px solid #434647;
    width:300px;
    height:40px;
    margin:5px;
    margin-top: 20px;
    padding:5px;
    box-sizing: border-box;
    outline:#434647;
}
input[type="file"]{
    border:none;
    margin:5px;
    margin-top: 20px;
    height:30px;
}
input[type="file"]:focus{
    outline:none;
}
input[type="radio"]{
    margin:5px;
    margin-top: 20px;
}
input[type="button"],input[type="submit"],input[type="reset"]{
    background:#434647;
    color:white;
    padding:10px;
    font-weight: bold;
    font-size: 17px;
    border:none;
    border-radius: 10px;
    width:100px;
    margin:20px;
    display:block;
    float:right;

}

input[type=submit]:hover,input[type=reset]:hover{
    cursor: pointer;
    transform:scale(1,1.2);
}
