.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
.formarea {
  /* position:relative; */
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  padding: 20px 50px;
}
.formarea label {
  color: #434647;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  width: 200px;
}
.drag {
  width: 800px;
  min-height: 250px;
  color: #2f4f4f;
  text-align: center;
  background-color: rgba(0, 225, 255, 0.226);
  border: solid #2f4f4f 5px;
  border-radius: 4px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  align-items: center;
}

.drag img {
  width: 50px;
  height: 50px;
  display: block;
  float: left;
  margin: 2px 5px;
  color: #2f4f4f;
}
textarea {
  display: inline-block;
  padding: 5px;
  border: 2px solid #808080;
  outline: none;
}
.form-field * {
  vertical-align: middle;
}

input[type='text'],
input[type='date'],
input[type='number'],
select {
  border: 2px solid #808080;
  width: 300px;
  height: 40px;
  margin: 5px;
  margin-top: 20px;
  padding: 5px;
  box-sizing: border-box;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
}
input[type='file'] {
  border: none;
  margin: 5px;
  margin-top: 20px;
  height: 30px;
}
input[type='file']:focus {
  outline: none;
}
input[type='radio'] {
  margin: 5px;
  margin-top: 20px;
}
input[type='submit'],
input[type='reset'] {
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 3px;
  width: 100px;
  margin: 10px;
  display: block;
  float: right;
  outline: none;
}

input[type='submit'] {
  background: #3e8acc;
  color: white;
}

.selector {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  width: 120px;
  height: 40px;
  color: #808080;
  background: none;
  padding: 10px 5px;
  outline: none;
  border: 3px solid #808080;
  border-radius: 5px;
  margin: 20px 5px 5px;
  cursor: pointer;
}

.selector p {
  font-weight: bold;
  font-size: 13px;
}

input[type='reset']:hover,
input[type='submit']:hover {
  transform: scale(1, 1.1);
  cursor: pointer;
}

.submit-cancel {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
