.container{
    width:100%;
}
.links-container{
    /* width:90%; */
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
/* .links-container::after{
    content:'';
    flex:auto;
} */
.container a{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:250px;
    height:50px;
    /* background:green; */
    background-image: linear-gradient(to left, transparent, #1B4D65);
    margin:15px;
    color:black;
    font-size: 17px;
    font-weight: bold;
}
.container a:hover{
    transform: scale(1,1.1);
}