.proposal_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.detail_box,
.task_box,
.evaluation_box,
.status_box {
  background: white;
  width: 350px;
  height: 300px;
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.task_box {
  align-items: center;
}
.content_line {
  margin: 20px;
}
.evaluation_box {
  align-items: center;
  display: none;
}

button {
  width: 90%;
  outline: none;
}
button:hover {
  transform: scale(1, 1.2);
}
.approve {
  background: #28a745;
}

.reject {
  background: #dc3545;
}

label {
  font-weight: bold;
}

.download_btn {
  width: 100px;
  height: 100px;
}
.approve_img {
  width: 100px;
  height: 100px;
}
.download_btn:hover {
  transform: scale(1, 1.04);
}
.status_box {
  justify-content: center;
}
.state {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.status_box h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}
