#table-style {
    overflow-x: auto;
    overflow-y: auto;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;
    width: 90%;
}

#table-style td, #table-style th{
    border: 1px solid #ddd;
    padding: 8px;
}

#table-style td{
    background-color: white;
}

#table-style tr:nth-child(){
    background-color: white;
}

/* #table-style tr:hover{
    background-color: #ddd;
} */

#table-style th{
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: left;
    background-color: #0e2433ee;
    color: white;
}
/* moved to common.css */
/* .tag{
    background:#f2f2f2;
    overflow:auto;
    padding:10px;
    box-sizing: border-box;
}
.tag h2{
    color:#434647;
    background:white;
    font-size: 20px;
    font-weight: bold;
    padding:20px;
    box-sizing: border-box;
    border-radius: 5px;
    float:left;
} */


/* input[type="button"],input[type="submit"],input[type="reset"]{
    background:#434647;
    color:white;
    padding:10px;
    font-weight: bold;
    border:none;
    border-radius: 3px;
    width:100px;
    margin:20px;
    display:block;
    float:right;
}

.editButton {
    background:#434647;
    color:white;
    padding:5px;
    font-weight: bold;
    border:none;
    border-radius: 2px;
    width:60px;
    margin:10px;
    display:block;
    float:right;
}

.editButton:hover{
    color:#434647;
    background:white;
}

input[type="submit"]{
    margin-right: 70px;
} */

/* input[type="button"]:hover,input[type="submit"]:hover,input[type="reset"]:hover{
    color:#434647;
    background:white;
} */

input[type="button"],input[type="submit"],input[type="reset"]{
    background:#D2691E;
    color:white;
    padding:10px;
    font-weight: bold;
    font-size: 17px;
    border:none;
    border-radius: 10px;
    width:100px;
    margin:20px;
    display:block;
    float:right;
}

input[type=submit]:hover,input[type=reset]:hover{
    cursor: pointer;
    transform:scale(1,1.2);
}
.submit-cancel input[type=submit]{
    width: 130px;
}

.submit-cancel{
    display:flex;
    flex-direction: row;
    margin:2% 4%;
    margin-top: 10px;
    align-items: left;
    justify-content: center;
}