.container{
    position: relative;
    margin: auto;
    background-color: #f2f2f2;
}

.combutton button{
    display:block;
    float:left;
    font-size:18px;
    color:white;
    font-weight:bold;
    padding:auto;
    margin-right: 10px;
    background:#434647;
    border-radius: 5px;
    text-align:center;
    text-decoration: none;
    width:100px;
    height:50px;
}

.flex-container {
    display: flex;
    height: 50px;
    margin-left: 80px;
    margin-bottom: 10px;
}

.clearbutton button .active{
    background:white;
    color:#434647;
}
.clearbutton button:hover{
    background:white;
    color:#434647;
    transition: 0.5s;
}



