body{
    background:white;
}
.button-flex-container{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.button-flex-container > a{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    min-width:350px;
    min-height:200px;
    margin:15px 25px;
    background: #f2f2f2  no-repeat center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity:0.5;
    justify-content:center;
    align-items: center;
    color:#434647;
    font-size: 20px;
    font-weight: bold;
}
.button-flex-container > a:hover{
    opacity: 1;
    transform: scale(1,1.1);
}

.button-flex-container > a > div >img{
    width:100px;
    height:100px;
}

