body{
    background:white;
}
.button-flex-container{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.button-flex-container > div{
    display:flex;
}
div > a{
    display:block;
}
.button-flex-container > div > a{
    min-width:400px;
    min-height:200px;
    margin:10px 5px;
    background: #f2f2f2  no-repeat center;
    background-image: url('../images/1.svg');
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity:0.6;
    display:flex;
    justify-content:center;
    align-items: center;
    
}
.button-flex-container > div > a:hover{
    transform: scale(1,1.05);
    opacity:1;
}