.button-flex-container {
    display: flex;
    background: #f2f2f2;
    flex-wrap: wrap;
    height: 500px;  
    margin-left: 10px;
    float:left;
    
  }

.button-flex-container > div{
    background-color: #f1f1f1;
    width: 450px;
    margin: auto;
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 30px;  
}
.button-flex-container > div .active{
    background:white;
    color:#2F4F4F;
}

.button-flex-container > div a{
    display:block;
    font-size:30px;
    color:white;
    font-weight:bold;
    font-family: 'Ubuntu';
    padding:40px;
    margin:5px;
    background:#2F4F4F;
    border-radius: 10px;
    text-align:center;
    text-decoration: none;
    width:auto;

}
.button-flex-container > div a:hover{
    background:white;
    color:#2F4F4F;
    transition: 0.5s;
}