.container{
    position: relative;
    padding:25px;
    color:#434647;
}

button{
    background:#434647;
    color:white;
    font-weight: bold;
    border:none;
    border-radius: 10px;
    float:right;
    width:100px;
    margin:10px;
    padding:10px;
    display:block; 
}

.clearbutton button{
    display:block;
    float:left;
    font-size:15px;
    color:white;
    font-weight:bold;
    padding:5px;
    margin-right: 10px;
    background:#434647;
    border-radius: 5px;
    text-align:center;
    text-decoration: none;
    width:100px;
    height:30px;
}

.flex-container {
    display: flex;
    height: 50px;
    margin-left: 80px;
    margin-bottom: 10px;
}

.clearbutton button .active{
    background:white;
    color:#434647;
}
.clearbutton button:hover{
    background:white;
    color:#434647;
    transition: 0.5s;
}