.container{
    position:relative;
    padding:20px;
}
.formarea{
    width:43%;
    /*border:3px solid #2F4F4F;*/
    padding:20px 10px;
    box-sizing: border-box;
    background:#f2f2f2;
    border-radius: 10px;
    margin:auto;
    min-width: 350px;
}
.formarea .message{
    font-size: 18px;
    font-weight: bold;
    text-align:center;
    border:3px solid #2F4F4F;
    border-radius:10px;
    padding:5px;
    margin:20px auto;
    background:#2F4F4F;
    color:white;
}
@media screen and (max-width:650px){
    .formarea .message{
        font-size: 15px;
    }
}

label{
    width:70px;
    text-align: left;
    font-size:15px;
    font-weight:bold;
    color:#2F4F4F;
    vertical-align: middle;
    display: inline-block;
}
input[type=email],input[type=password]{
    display:inline-block;
    background:none;
    border:2px solid #2F4F4F;
    border-radius:5px;
    padding:5px;
    width:70%;
    box-sizing: border-box;
    height:50px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}
@media screen and (max-width:1110px){

}
input[type=submit]{
    width:auto;
    display: block;
    margin: 10px auto;
    padding:10px;
    background:#2F4F4F;
    border:2px solid #2F4F4F;
    border-radius: 5px;
    color:white;
    font-size: 20px;
    font-weight: bold;
}
input[type=submit]:hover{
    color:#2F4F4F;
    background:white;
    cursor: pointer;
    transition: 0.5s;
}

.sent{
    background: green;
    color:white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding:10px;
    width:80%;
    margin:auto;
}

.error{
    background: red;
    color:white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding:12px;
    width:80%;
    margin:auto;
}


